body {
  background: linear-gradient(to right, #FFA505, #FFFB05);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* height of rows */
  grid-template-rows: 20% 40% 20% 40% 92%;
  grid-row-gap: 20px;
  grid-column-gap: none;
  grid-template-areas:
    "logo"
    "search"
    "select"
    "button"
    "animation";
}

.grid-item {
  background-color: none;
  border: 2px solid white;
}

.grid-item-1 {
  grid-area: logo;
}

.logo {
  border: 2px solid white;
}

.logo img {
  height: 85px;
  width: auto;
}

.grid-item-2 {
  grid-area: search;
  overflow:show;
}

.grid-item-3 {
  grid-area: select;
}

.grid-item-4 {
  grid-area: button;
  /* button grid display */
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
 
}

.grid-item-4 > button {
  font-size: 2rem;
  background-color: rgba(255, 255, 255);
  margin: 5px;
}

.grid-item-4 > button:hover {
  background-color: rgba(255, 255, 255, .5);
}


.grid-item-5 {
  grid-area: animation;
  overflow: hidden;
}

.grid-item-5 img {
  height: 100px;
  width: 100%;
}


