body {
  background: linear-gradient(to right, #FFA505, #FFFB05);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height of rows */
  grid-template-rows: 50px repeat(4, minmax(190px, auto));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
    "logo logo"
    "webdriver search"
    "webdriver buttons"
    "webdriver bars"
    "webdriver animation";
}

.logo {
  border: 2px solid white;
}

.grid-item {
  background-color: rgba(255, 255, 255, .75);
  border: 2px solid white;
}

.grid-item-1 {
  grid-area: logo;
}

.grid-item-2 {
  grid-area: webdriver;
}

.iframe {
  height: 100%;
  width: 100%;
}

.grid-item-3 {
  grid-area: search;
}


.grid-item-4 {
  grid-area: buttons;
  /* button grid display */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
}

.grid-item-4 > button {
  font-size: 2rem;
  background-color: rgba(255, 255, 255);
  margin: 5px;
}

.grid-item-4 > button:hover {
  background-color: rgba(255, 255, 255, .5);
}


.grid-item-5 {
  grid-area: bars;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 190px;
}

.status-bar {
  overflow: hidden;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  margin-left: 42.5%;
  margin-right: 42.5%;
  background-color: white;
}

.status-bar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


.grid-item-6 {
  grid-area: animation;
}

.grid-item-6 img {
  height: 190px;
  width: 100%;
}


